<form class = "form-shadow-box" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-form-field appearance="fill">
    <mat-label for="title">Title</mat-label>
    <input
      matInput
      placeholder="Enter Title"
      type="text"
      id="title"
      name="title"
      [(ngModel)]="enteredTitle"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label for="process">Process</mat-label>
    <textarea
      matInput
      placeholder="Enter Process please"
      id="process"
      name="process"
      [(ngModel)]="enteredProcess"
    ></textarea>
  </mat-form-field>
  <p id="actions">
  @if (isEditMode()){
    <button type="submit">Save Recipe</button>
  } @else {
    <button type="submit">Add Recipe</button>
  }
  </p>
</form>
