<div class="center">
  <button type="button" mat-fab extended [routerLink]="'/'">
    <mat-icon fontIcon="home"></mat-icon> Home
  </button>
  <button
    type="button"
    mat-fab
    extended
    [routerLink]="['/recipe-edit-component', recipe?.id]"
    [disabled]="!recipe"
  >
    <mat-icon fontIcon="edit"></mat-icon> Edit
  </button>
</div>

<mat-card class="recipe-card" *ngIf="recipe">
  <div class="section-row">
    <h2>Ingredients</h2>
  </div>
  <ol>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.quanity }} {{ ingredient.unit }} of {{ ingredient.name }}
    </li>
  </ol>

  <mat-vertical-stepper #stepper>
    <mat-step
      *ngFor="let step of processSteps; let i = index"
      [completed]="false"
    >
      <ng-template matStepLabel>Step {{ i + 1 }}</ng-template>

      <p>{{ step }}</p>

      <div class="stepper-actions">
        <button
          mat-fab
          extended
          (click)="stepper.next()"
          *ngIf="i + 1 < processSteps.length"
        >
          Next
        </button>
        <button
          mat-fab
          extended
          (click)="stepper.reset()"
          *ngIf="i + 1 === processSteps.length"
        >
          Restart
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>

<div *ngIf="!recipe" class="loading">
  <p>Loading recipe...</p>
</div>
