<div class="center">
  <button type="button" mat-fab extended [routerLink]="'/'">
    <mat-icon fontIcon="home" />Home
  </button>
  <button
    type="button"
    mat-fab
    extended
    [routerLink]="`/recipe-edit-component/${getRecipeItem.id}`"
  >
    <mat-icon fontIcon="edit" /> Edit
  </button>
</div>
<mat-card class="recipe-card">
  <div class="section-row">
    <h1>{{ getRecipeItem.title }}</h1>
    <button mat-fab extended class="edit-button" (click)="openDialogEditTitle()">
      Edit Title
    </button>
  </div>

  <div class="section-row">
    <h2>Ingredients:</h2>
  </div>
  <ol>
    @for (ingredients of getRecipeItem.ingredients; track ingredients ){
    <li>
      {{ ingredients.quanity }} {{ ingredients.unit }} of {{ ingredients.name }}
    </li>
    }
  </ol>

  <div class="section-row">
    <h2>Process</h2>
    <button mat-fab extended class="edit-button" (click)="openDialogEditProcess()">
      Edit Process
    </button>
  </div>
  <p>{{ getRecipeItem.process }}</p>
</mat-card>
