<div class="float-parent-element">
  <app-new-recipe
    class="float-child-element"
    [recipeTitle]="loadTitle"
    [recipeProcess]="loadProcess"
    [recipeId]="recipeId"
    [isEditMode]="isEditMode"
  ></app-new-recipe>
  <app-ingredients
    class="float-child-element"
    (ingredient)="onAddIngredient($event)"
  ></app-ingredients>
</div>

@if(ingredients.length!==0){
<div class="ingredients-scroll-wrapper">
  @for(ingredient of ingredients; track $index){
  <article>
    <header>
      <h3>{{ ingredient.name }}</h3>
    </header>

    <p>
      {{ ingredient.quanity }} {{ ingredient.unit }} of {{ ingredient.name }}
    </p>
    <form>
      <button
        type="button"
        mat-fab
        extended
        onclick="onRemoveIngredient(ingredient.id)"
      >
        <mat-icon fontIcon="delete"></mat-icon>Delete
      </button>
    </form>
  </article>
  }
</div>
}
