:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


div {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #44433f;
  box-shadow: 0 0 8px slategrey;
}

#actions {
  text-align: right;
}

button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f2e090;
  color: #2c2a21;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #f3d861;
}

ul {
  list-style-type: none;
}
